.signup__container {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -30deg,
    rgb(255, 164, 164) 0%,
    #f24638 50%,
    var(--primary-footer-text) 50%,
    var(--primary-home-p) 100%
  );
}

.signup__form {
  width: 45rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-form);
  margin: 30px 0;
  border-radius: 6px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.signup__form--button {
  background-color: #f24638;
  color: white;
  padding: 0.75rem;
  margin-top: 2rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  border: 2px solid #f24638;
  transition: all 0.4s;
  letter-spacing: 2px;
}

.signup__form--button:hover {
  background-color: var(--header-button);
  color: #f24638;
}

.signup__form--p {
  font-size: 1.1rem;
  margin: 0.5rem 1rem;
  margin-left: 2px;
  font-weight: bold;
  color: var(--primary-footer-text);
}

.signup__form--p a {
  color: #f24638;
  text-decoration: none;
}

.signup__heading--container {
  padding: 1rem 0 3rem 0;
  display: flex;
  justify-content: center;
}

.signup__heading--container h1 {
  text-transform: uppercase;
  font-size: 1.75rem;
  color: var(--primary-footer-text);
}

@media (max-width: 345px) {
  .signup__form {
    width: 40rem;
  }
}
