.login__container {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login__form {
    width: 45rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--light-primary-white);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.2);
}
  
.login__form--button {
    background-color: #f24638;
    color: white;
    padding: 0.75rem;
    margin-top: 2rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    border: 2px solid #f24638;
    transition: all 0.4s;
}
  
.login__form--button:hover {
    background-color: white;
    color: #f24638;
}

.login__forgot--button a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    color: #f24638;
    padding: 0.75rem;
    margin-top: 2rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: inherit;
    border: 2px solid #f24638;
}
  
.login__form--p {
    font-size: 1.1rem;
    margin: 0.5rem 1rem;
    margin-left: 2px;
    font-weight: bold;
    color: var(--light-primary-grey);
}

.login__form--p a{
    color:#f24638;
    text-decoration: none;
}

.login__heading--container{
    padding: 1rem 0 3rem 0;
    display: flex;
    justify-content: center;
}

.login__heading--container h1{
    text-transform: uppercase;
    font-size: 1.75rem;
    color: #3b3e55;
}
  
@media (max-width: 345px) {
    .login__form {
      width: 40rem;
    }
}