.resultbox__container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultbox__main {
  padding: 3rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  min-width: 50rem;
  min-height: 27.5rem;
  background-color: #f24638;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultbox__main h1 {
  text-align: center;
  color: white;
  margin: 3rem;
  font-size: 3rem;
}

.resultbox__main p {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
}

.resultbox__main button {
  margin-top: 3rem;
  width: 50%;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  color: #f24638;
  font-weight: bold;
  cursor: pointer;
}
