*{
    margin:0;
    padding:0;
    
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display:flex;
    align-items:center;
    position:relative;
    top:0px;
    height:88px;
}
#logo{
    margin:20px 25px;
}
#logo img{
    margin:35px 40px;
    height:75px;
}
#navbar ul{
    display:flex;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
}
#navbar::before{
    
    display:block;
    position:absolute;
    z-index:-1;
    background:linear-gradient(to right,rgb(193, 245, 228),rgb(204, 204, 248));;
    opacity:1;
    height:100%;
    width:100%;
    content:"";
    top:0px;
    left:0px;
}
#navbar ul li{
    list-style:none;
    font-size:1.3rem;
}
#navbar ul li a{
    color:rgb(8, 80, 161);
    padding:3px 22px;
    display:block;
    text-decoration:none;
    border-radius:20px;
}
#navbar ul li a:hover{
    color:black;
    background-color: blanchedalmond;
}
#navbar .log{
    color:rgb(8, 80, 161);
    position:relative;
    left: 600px;
    border: 2px solid black;
    padding:3px 22px;
    font-size:1.4rem;
    border-radius:10px;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
    background-color: rgb(193, 196, 247);
    box-shadow: inset;
}
