.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  position: relative;
  top: 0;
  border: 2px solid #f24638;
  background-color: #f24638;
  overflow: hidden;
}

.header__h1 {
  padding: 1rem;
  color: #f8f8f8;
  letter-spacing: 0.25rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2rem;
  font-family: "cursive";
}

.header__h1--label {
  color: black;
  font-size: 2rem;
  cursor: pointer;
  text-shadow: 2px 1px 3px grey;
  font-weight: 900;
}

.header_toggle--btn {
  padding-right: 10px;
  display: none;
  cursor: pointer;
}

.header_toggle--btn div {
  width: 30px;
  height: 3px;
  background-color: #0a1436;
  margin: 6px 0;
}

.header__btn--ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.header__btn--a a {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3rem;
  color: #f8f8f8;
  /* border: 50%; */
  padding: 1.25rem;
  text-decoration: none;
  transition: all 0.4s;
}

.header__btn--login a {
  border-radius: 20px;
  margin-right: 2rem;
  padding-right: 20px;
  padding-left: 20px;
  color: whitesmoke;
  border: 2px solid #b8b8b8;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.header__btn--login a:hover {
  /* border: 2px solid #f24638; */
  background-color: #e2e5e8;
  color: black;
}

.header__btn--get a {
  border-radius: 20px;
  margin-right: 1rem;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid #dc1c13;
  background-color: #ff0000;
}

.header__btn--get a:hover {
  background-color: #e2e5e8;
  border: 2px solid #b8b8b8;
  color: black;
}

@media (max-width: 700px) {
  .header_toggle--btn {
    display: inline-block;
  }
  .header__btn--container {
    display: none;
  }
}
