.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  position: relative;
  top: 0;
  border: 2px solid var(--primary-main);
  background-color: var(--primary-main);
  overflow: hidden;
}

.header__h1 {
  padding: 1rem;
  color: #f8f8f8;
  letter-spacing: 0.25rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2rem;
  font-family: "cursive";
}

.header__h1--label {
  color: var(--header-color);
  font-size: 2rem;
  cursor: pointer;
  text-shadow: 2px 1px 3px grey;
  font-weight: 900;
}

.header_toggle--btn {
  padding-right: 10px;
  display: none;
  cursor: pointer;
}

.header_toggle--btn div {
  width: 30px;
  height: 3px;
  background-color: #0a1436;
  margin: 6px 0;
}

.header__btn--ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.header__btn--a a {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3rem;
  color: #f8f8f8;
  /* border: 50%; */
  padding: 1.25rem;
  text-decoration: none;
  transition: all 0.4s;
}

.header__btn--login a {
  /* border-radius: 20px; */
  margin-right: 2rem;
  padding-right: 35px;
  padding-left: 35px;
  color: whitesmoke;
  border: 2px solid #9e352c;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.header__btn--login a:hover {
  /* border: 2px solid #f24638; */
  background-color: #ffffff;
  color: black;
}

.header__btn--get a {
  /* border-radius: 20px; */
  margin-right: 1rem;
  /* color: white; */
  color: var(--primary-footer-text);
  padding-right: 35px;
  padding-left: 35px;
  background-color: var(--header-button);
  border: 2px solid #b8b8b8;
}

.header__btn--get a:hover {
  background-color: var(--primary-main);
  border: 2px solid #b8b8b8;
  color: white;
}

@media (max-width: 700px) {
  .header_toggle--btn {
    display: inline-block;
  }
  .header__btn--container {
    display: none;
  }
}
.header__switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.header__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f24638;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0 2px #222222;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle__checkbox:checked + .slider {
  background-color: #222222;
  box-shadow: 0 0 5px white;
}

.toggle__checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px) rotate(180deg);
  clip-path: ellipse(67% 100% at 11% 50%);
  background-color: gold;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
