.header__nav--li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 242, 242);
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.nav_scroll_color_change.ac {
  color: rgb(44, 43, 43);
}
.nav_scroll_color_change.ac:hover {
  color: #f2aa4cff;
}

.header__nav--li a:hover {
  color: rgb(44, 43, 43);
  transform: scale(1.1);
}
