@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

[data-theme="light"] {
  --primary-main: #f24638;
  --primary-body: #ffffff;
  --header-color: #141414;
  --header-button: white;
  --primary-footer: white;
  --primary-footer-text: #252525;
  --primary-footer-para: rgb(71, 71, 71);
  --primary-footer-form-border: transparent;

  --primary-home-head: #141639;
  --primary-home-p: #73747b;
}

[data-theme="dark"] {
  --primary-main: #141414;
  --primary-body: #222222;
  --header-color: #f24638;
  --header-button: transparent;
  --primary-footer: #111111;
  --primary-footer-text: #ffffff;
  --primary-footer-para: #aaaaaa;
  --primary-footer-form-border: #ddd;

  --primary-home-head: #fff;
  --primary-home-p: #818391;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1600px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 57.5%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
}
