.faq__container {
  min-height: 100vh;
  width: 50%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}
.faq__title {
  font-size: 3rem;
  color: #f24638;
  margin: 4rem 0rem;
  display: flex;
  justify-content: center;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}
.faq__question h3 {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #141414;
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.faq__answer p {
  padding-top: 1rem;
  padding: 0 3rem;
  letter-spacing: 2px;
  color: #4b4b4b;
  line-height: 1.6;
  font-size: 1.4rem;
  text-align: center;
}

.faq.active .faq__answer {
  max-height: 300px;
  animation: fade 0.4s ease;
}

.faq.active svg {
  transform: rotate(180deg);
}
.svg {
  transition: transform 0.4s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.faq__confuse--img {
  height: 39em;
  margin-left: -13%;
  margin-top: -9em;
}
